body{
	background: white;
}

h1,h2,h3,h4{
}

.fancybox-nav span {
	 visibility: visible;
}

/************************

		HEADER

************************/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
}


.navbar-header{
	width: 100%;
}

.navbar-fixed-top{
	position: fixed;
	width: 100%;
	top: 0;
}
.navigation{
	background-color: white;
	width: 100%;
	border-bottom: 2px solid @primary-color;
}

.menu{
	display: none;
	@media (min-width: @screen-sm-min){
		display: block;
	}
}

.navbar-brand{
	background: url(../img/logo_small.png) no-repeat left center;
	color: transparent !important;
	height: 80px;
	display: block;
	width: 192px;
	margin: auto;
	float: left;
	background-position: 30px;
	@media (min-width: @screen-sm-min){
		background: url(../img/logo.png) no-repeat left center;
		height: 100px;
	}
}

.menu-content{
	float: right;
	list-style-type: none;
	display: table;
	height: 100px;
	margin: 0;
	padding: 0;
	li{
		display: table-cell;
		vertical-align: middle;
	}
	a{
		padding: 0px 15px;
		font-size: 18px;
		color: #ba8737;
		font-family: 'playfair_displayitalic';
		text-decoration: none;
	}
}

/********nav gore********/
.nav-upper{
	height: 40px;
	display: none;
	position: relative;
	@media (min-width: @screen-sm-min){
		display: block;
		width: 100%;
	}
	ul{
		padding: 0;
		list-style-type: none;
		margin: 0;
	}
	li{
		float: left;
		display: block;
		a{
			font-family: 'playfair_displayregular';
			color: white;
			padding: 10px;
			display: block;
			text-decoration: none;
		}
	}
	.upper-right{
	float: right;
	display: inline-block;
		height: 40px;
	}
	.upper-left{
		float: left;
		display: inline-block;
		height: 40px;
		li:first-child{
			display: none;
		}
		@media (min-width: @screen-sm-min){
			li:first-child{
				display: block;
			}
		}
	}
}




.dropdown-toggle:focus{
	color: #4d4d4d;
	background: white;
}
.open>.dropdown-menu{
	position: absolute;
	z-index: 99999;
}
.dropdown-menu{
	min-width: auto;
	box-shadow: none;
	border: none;
	border-radius: 0;
	position: absolute;
	z-index: 9999;
	li{
		width: 100%;
	}
	li a{
		float: left;
		display: block;
		padding: 10px;
		width: 100%;
		color: #4d4d4d;

		&:hover{
			background-color: @primary-color;
		}
		a:last-child{
			 border-top: none;
		}
	}
}

.nav--mobile{
	padding: 0;
	margin: 0;
	margin-top: 20px;
	list-style-type: none;
	li{
		display: block;
		a{
			margin: 5px 15px;
			padding: 10px;
			color: #333;
			text-decoration: none;
			font-weight: 700;
			display: block;
    		text-align: center;
    		font-size: 20px;
    		font-family: 'playfair_displayregular';
    		transition: all 100ms ease-in-out;
    		&:hover{
    			font-family: 'playfair_displaybold';
    		}
		}
	}
}




.transition{
  /* This is !important to include */
  -webkit-transition: -webkit-transform .2s; 
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}


.offcanvas{
  /* This is !important to include */
  width: 320px; 
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 99;
  -webkit-transform: translateX(-320px); 
  -ms-transform: translateX(-320px); 
  transform: translateX(-320px);
  .transition;
  .navbar-brand{
  	float: none;
  }
  	.navbar-brand{
		background: url(../img/logo.png) no-repeat center center;
		margin-top: 50px;
	}
  	.mobile-lang {
  		width: 100%;
  		margin: auto;
  		margin-top: 15px;
  		p{
  			color: #333;
  			text-align: center;
  			font-size: 16px;
  			span{
  				color: @primary-color;
  			}
  		}

  		ul{
  			padding: 0;
  			margin: auto;
  			list-style-type: none;
			float: left;
			height: 40px;
			width: 100%;
			background-color: @primary-color;
			margin-bottom: 20px;
			li{
				display: block;
			}
			li a{
				color: white;
				display: block;
				text-align: center;
				height: 40px;
				padding-top: 10px;
				text-decoration: none;
			}
		}
		.dropdown-toggle:focus{
			background: darken(@primary-color, 5%);
		}
		.dropdown-menu{
			width: 100%;
			li a{
				background: lighten(@primary-color, 20%);
				&:hover{
					background-color: darken(@primary-color, 20%);
				}
			}
		}
		.upper-left{
			border-right: 3px solid white;
			display: none;
		}
		.upper-right{
			border-left: 3px solid white;
			width: 100%;

		}
	}
}

.offcanvas-expanded{
  .offcanvas{
    /* This is !important to include */
    -webkit-transform: translateX(0); 
    -ms-transform: translateX(0); 
    transform: translateX(0);
  }
}

#nav-toggle { 
	cursor: pointer; 
	padding: 10px 35px 16px 0px; 
	position: absolute;
	top: 30px;
	right: 0px;
	display: block;
	z-index: 9999;
	@media (min-width: @screen-sm-min){
		display: none;
	}

}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 20px;
  background: #333;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -6px; 
}
#nav-toggle span:after {
  bottom: -6px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}


/************************

		LANDING

************************/

.darkness{
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
}
.landing_bg_1{
	.custom-bg("../../public/img/slider1.jpg");
}
.landing_bg_2{
	.custom-bg("../../public/img/slider2.jpg");
}
.landing_bg_3{
	.custom-bg("../../public/img/slider3.jpg");
}

.slick-content{
	display: table;
	width: 100%;
	height: 80vh;

	h2{
		font-family: 'playfair_displaybold_italic';
		&:after{
			content:"";
			display: block;
			background-color: white;
			width: 50%;
			height: 2px;
			margin: auto;
			margin-top: 25px;
		}
	}

	p{
		font-family: 'playfair_displayitalic';
		font-size: 20px;
		line-height: 24px;
		margin-top: 30px;
	}
}
.slick-cell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.star{
	display: block;
	margin: auto;
	width: 43px;
}


/************************

	  accommodation

************************/
.accommodation{
	margin-bottom: 100px;
	h2{
		margin-top: 80px;
		margin-bottom: 15px;
	}
}
.accom-item{
	margin-top: 30px;
	border: 1px solid @gray-light;
	img{
		width: 100%;
	}
	.item-content{
		
		h3{ 
			font-family: 'playfair_displaybold_italic';
			text-transform: uppercase;
			color: #232323;
			margin-bottom: 5px;
			padding: 0 15px;
		}
		p{
			font-family: 'playfair_displayregular';
			color: @gray;
			font-size: 16px;
			margin-bottom: 30px;
			padding: 0 15px;
		}
	}
	.accom-price{
		overflow: hidden;
		border-top: 1px solid @gray-light;

		p{
			color: @primary-color;
			display: inline-block;
			margin-bottom: 0px;
			padding: 10px 0;
			padding-left: 15px;
			font-family: 'playfair_displaybold';
			font-size: 20px;
		}
		span{
			color: @gray;
		}
		a{
			color: @gray;
			text-decoration: none;
			display: block;
		    width: 100px;
		    float: right;
		    height: 48px;
		    padding: 15px 0;
		    text-align: center;
		    border-left: 1px solid @gray-light;
		    font-family: 'playfair_displaybold_italic';
		    text-transform: uppercase;
			&:hover{
				background-color:@primary-color;
				color: white;
			}
		}
	}
}

/************************

	  	about

************************/

.about-wrap{
	background: url(../img/uvala.jpg) no-repeat;
	position: relative;
	background-size: 100%;
	padding-top: 230px;
	margin-bottom: 60px;
	background-size: 100% 300px;
	background-position: top center;
	@media (min-width: @screen-sm-min){
		background-size: 100%;
		padding-top: 25%;
	}
}
.about-content{
	background: white;
	margin: auto;
	width: 90%;
	display: block;
	border: 1px solid @primary-color;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: @screen-sm-min){
		width: 70%;
	}
}
.about-head{
	color: @primary-color;
	padding: 30px;
	font-family: 'playfair_displaybold_italic';
	@media (min-width: @screen-sm-min){
		padding: 30px 0 35px 30px;
	}
}
.about-info{
	padding: 0px 30px;
	text-align: justify;
	font-size: 18px;
	line-height: 22px;
	color: @gray-dark;
	font-family: 'playfair_displayitalic';
}
.about-link{
	display: block;
	text-align: center;
	width: 200px;
	border-radius: 3px;
	border: 1px solid @primary-color;
	color:  @gray-dark;
	padding: 10px;
	text-decoration: none !important;
	margin: 40px auto;
	font-family: 'playfair_displayitalic';
	font-size: 16px;
	&:hover{
		background: @primary-color;
		color: white;
	}
}

/************************

	  	gallery

************************/
.gallery-head{
	background: url(../img/gallery_header.jpg) no-repeat;
	background-size: cover;
	height: 330px;
	position: relative;

	.darkness{
		background: rgba(0, 0, 0, 0.52);
	}
}
.gallery-info{
	text-align: center;
	display: block;
	margin: auto; 
	width: 90%;
	margin-top: 13%;
	border: 1px solid @primary-color;
	border-radius: 3px;
	@media (min-width: @screen-sm-min){
		width: 500px;
	}
	h3{
		color: white;
		font-family: 'playfair_displaybold';
	}
	p{
		color: white;
		margin-bottom: 20px;
		font-size: 16px;
		padding: 0 10px;
		font-family: 'playfair_displayitalic';
	}
}

.gallery1{
	.custom-bg("../../public/img/gallery1.jpg");
	height: 400px;
	@media (min-width: @screen-md-min){
		height: 100vh;
	}
}
.gallery2{
	.custom-bg("../../public/img/gallery2.jpg");
	height: 400px;
	@media (min-width: @screen-md-min){
		height: 100vh;
	}
}
.gallery3{
	.custom-bg("../../public/img/gallery1.jpg");
	height: 400px;
	@media (min-width: @screen-md-min){
		height: 100vh;
	}
}


.gallery-tab{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(203, 156, 83, 0.68);
	text-align: center;
	color: white;
	padding: 10px 0;
	border-bottom: 1px solid @primary-color;
	@media (min-width: @screen-md-min){
		position: initial;
	}
	p{
		margin: 0;
	}
}

/************************

	  	contact	

************************/
.contact{
	background: url(../img/kontakt.jpg) no-repeat;
	background-size: cover;
	height: auto;
	position: relative;
	@media (min-width: @screen-sm-min){
		color: inherit;
		height: 100vh;
	}

	h2{
		font-size: 36px;
		margin-bottom: 40px;
		padding-left: 15px;
		font-family: 'playfair_displayregular';
	}

	.wrap{
		background: rgba(255, 255, 255, 0.85);
		padding: 30px 0;
		@media (min-width: @screen-sm-min){
			background: rgba(255, 255, 255, 0.3);
			padding: 0;
		}
	}
}

.contact-text{
	margin-bottom: 15px;
	font-size: 16px;
	font-family: 'playfair_displayregular';
	color: #595959;
	strong{
		font-family: 'playfair_displaybold';
	}
}

.contact_form{
	input, textarea{
		width:49%;
		float: left;
		margin-bottom: 15px;
		border:1px solid #595959;
		border-radius: 5px;
		padding: 10px;
		outline: 0;
		display: block;
		font-size: 16px;
		background-color: transparent;
		font-family: 'playfair_displayitalic';
		@media (min-width: @screen-sm-min){
			border:1px solid #bebebe;
		}
	}

	.single{
		.contact_form{
			input, textarea{
				width:100%;
				float: left;
				@media (min-width: @screen-sm-min){
					width: 49%;
				}
			}
		}
	}

	form{
		display: table;
		width: 100%;
	}

	.name{
		margin-right: 1%;
	}

	.surname{
		margin-left: 1%;
	}

	.email{
		display: block;
		width: 100%;
	}

	.message{
		width: 100%;
		height: 100px;
	}

	button{
		background-color: #ececec;
		border:1px solid #bebebe;
		border-radius: 5px;
		padding: 10px;
		outline: 0;
		color: #222;
		float: right;
		width: 40%;
		color: #595959;
		font-size: 18px;
		font-family: 'playfair_displayitalic';
	}

	p{
		width: 60%;
		float: left;
		padding-right: 5%;
		font-family: 'playfair_displayregular';
	}

}

/************************

	  	map	

************************/
.map-frame{
	pointer-events: none;
}


/************************

	  	detail	

************************/
.detail{
	height: 400px !important;
	background-position: center center !important;
	background-size: 100% 400px;
	position: relative;
	background-repeat: no-repeat;
	@media (min-width: @screen-sm-min){
		background-size: cover;
		height: 500px;
	}
	.detail_bg_1{
		height: 400px !important;	
		@media (min-width: @screen-sm-min){
			height: 500px;
		}	
	}
	.darkness{
		height: 400px !important;
		@media (min-width: @screen-sm-min){
			height: 100%;
		}
	}
}

/************************

	  	app	

************************/
.app{
	margin: 50px 0;
	position: relative;
}


.reserve{
	border: 1px solid @primary-color;
	border-radius: 5px;
	padding: 15px;
	background-color: white;
	width: auto;
	position: relative;
	margin: 0px 50px 50px 50px;
	@media (min-width: @screen-sm-min){
		position: absolute;
		left: 0;
		top: -150px;
		left: 15%;
		width: 350px;
		z-index: 999;
	}

	h3{ 
		font-family: 'playfair_displaybold_italic';
		text-transform: uppercase;
		color: #4c4c4c;
		margin-bottom: 5px;
		padding: 0 15px;
	}
	p{
		font-family: 'playfair_displayregular';
		color: @gray;
		font-size: 16px;
		margin-bottom: 30px;
		padding: 0 15px;
	}
	.reserve_price{
		color: @primary-color;
		text-align: center;
		font-size: 30px;
		font-family: 'playfair_displaybold';
		&:after{
			content:"";
			background-color: @primary-color;
			display: block;
			margin-top: 15px;
			height: 1px;
		}
		span{
			color: @gray;
			font-family: 'playfair_displayitalic';
			font-size: 20px;
		}
	}
	.reserve_info{
		font-family: 'playfair_displayitalic';
	}
	.about-link{
		background-color: @primary-color;
		color: white;
		&:hover{
			background-color: white;
			color: @primary-color;
		}
	}
}


.app_images{
	img{
		width: 100%;
		border: 1px solid @primary-color;
	}	
}

.app_images_large{
	margin-bottom: 15px;
	height: auto;

	a{
		font-family: 'playfair_displaybold';
		color: @primary-color;
		text-decoration: none;
		font-size: 26px;
		text-align: center;
		display: block;
		@media (min-width: @screen-sm-min){
			color: transparent;
			font-size: 0px;

		}
	}

	img{
		height: 100%;
		margin-bottom: 50px;
		@media (min-width: @screen-sm-min){
			margin: 0;
		}
	}
}

.app_images_small{
	display: none;
	@media (min-width: @screen-sm-min){
		display: block;
	}
	img{
		height: 100px;
	}
}

.app_about{
	h3{
		margin-top: 50px;
		font-family: 'playfair_displaybold';
		&:after{
			content:"";
			background-color: @primary-color;
			display: block;
			margin-top: 5px;
			height: 1px;
			font-size: 18px;
		}
	}
	img{
		display: block;
		float: left;
		padding-top: 30px;
		width: 60px;
	}
}

.app_about--text{
	padding-left: 100px;
	padding-top: 20px;
	font-family: 'playfair_displayregular';
	font-size: 16px;
	display: block;
	span{
		color: @primary-color; 
	}
}

.app_more{
	margin-top: 80px;
	padding-top: 50px;
	padding-bottom: 120px;
	border-top: 1px solid @primary-color;
}

.special-text{
	padding-left: 80px;
	@media (min-width: @screen-sm-min){
		padding-left: 0;
	}
}

/************************

	  	more	

************************/
.more{
	.more_bg_1{
		.custom-bg("../../public/img/more1.jpg");
	}
}

.more_info{
	padding:60px 0;
	padding-left: 15px;
	padding-right: 15px;
		@media (min-width: @screen-sm-min){
			padding-left: 0;
			padding-right: 0;
		}
	p{
		font-family: 'playfair_displayregular';
		color: #333333;
		font-size: 16px;
	}
	h4{
		font-family: 'playfair_displaybold';
		color: #333333;
		margin: 20px 0;
	}
}

.more_full_width{
	img{
		width: 100%;
		height: 300px;
		@media (min-width: @screen-sm-min){
			height: auto;
		}
	}
	
}

.more_gallery{
	margin-bottom: 100px;
}

.more-gallery_slider{
	height: 550px;
	@media (min-width: @screen-sm-min){
		height: auto;
	}
	.more-gallery_slider--1{
		.custom-bg("../../public/img/more_slider.jpg");
		height: 550px;
	}
	.more-gallery_slider--2{
		.custom-bg("../../public/img/more_slider2.jpg");
		height: 550px;
	}
	.slick-prev,.slick-next {
		margin-top: -20px;
	}
}

.slider_bar{
	display: block;
	text-align: center;
	margin-top: 10px;
	font-family: 'playfair_displaybold';
	span{
		font-family: 'playfair_displayitalic';
		padding-left: 30px;
	}
}

.slick-next:before{
	background: url(../img/arrow_right.png);
	content: "";
	height: 40px;
	display: block;
}

.slick-prev:before{
	background: url(../img/arrow_left.png);
	content: "";
	height: 40px;
	display: block;
}

/************************

	  	footer	

************************/

.modal_wrap{
	display: table;
	width: 100%;
	height: 100vh;
}

.modal_cell{
	display: table-cell;
	vertical-align: middle;
}

.modal_content{
	background-color: white;
	display: block;
	width: 80%;
	margin: auto;
	height: auto;
	padding: 5px 50px 40px 50px;
	position: relative;

	h2{
		text-align: center;
		color: @primary-color;
		font-family: 'playfair_displayitalic';
		&:after{
			content:"";
			display: block;
			background-color: @primary-color;
			width: 60%;
			height: 1px;
			margin: auto;
			margin-top: 5px;
		}
	}
	span{
		text-align: center;
		display: block;
		margin-bottom: 30px;
		margin-top: 20px;
		font-size: 16px;
	}
	.contact_send{
		float: none;
		margin: auto;
		display: block;
		width: 30%;
		background-color: transparent;
		border: 1px solid @primary-color;
	}

	.close_modal{
		background: transparent;
		border: 0;
		outline: 0;
		color: @primary-color;
		font-size: 30px;
		position: absolute;
		right: 20px;
		top: 15px;
	}

}

/************************

	  	footer	

************************/
.footer{
	background: @gray-darker;
	margin-top: -10px;
	p{
		display: block;
		padding: 15px 0 5px 0;
		margin-bottom: 0;
		margin: auto;
		text-align: center;
		font-family: 'playfair_displayitalic';
		@media (min-width: @screen-md-min){
			display: inline-block;
		}
	}
}